<% if user_signed_in? %>
	<h1>You've logged in</h1>
<% else %>	
	<div class="text-center">
		<div class="">
			<h1>Welcome to MyBaby</h1>
			<p>You've found a website for people who are passionate about babies</p>
			<%= link_to "Sign Up Today", new_user_registration_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>	
<% end %>	